@model IEnumerable<YummyTummy.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}
<div class="container body-content">
    <div class="image-container">
        <div id="home-images">
            <img class="home-img-size" src="/fonts/rest_1.jpg" />
            <img class="home-img-size" src="/fonts/rest_2.jpg" />
            <img class="home-img-size" src="/fonts/rest_3.jpg" />
            <img class="home-img-size" src="/fonts/rest_4.jpg" />
        </div>
        <div id="home-title-sect">
            Welcome to Restauranteview!
        </div>
        <div id="sliding-ad">
            <a>
                <img alt="Bad Link fam" src="http://www.splotchy.com/images/blog/hatehim.png" />
            </a>
        </div>

    </div>


    <div class="restaurant-info">

        <hr />
        <i>Want to give feedback on that great local deli?</i>
        <br />
        <i>Curious about local restaurants and their quality?</i>
        <br />
        <i>Need a place nearby by your workplace?</i>
        <br />
        <strong style="font-size:medium">Click on the Restaurants Tab to start looking, or create an account above!</strong>
    </div>
    <hr />


    <h2 id="top-rest-text">Top 3 Restaurants </h2>
    <i>See what the community is into: </i>

    <div class="row">
        @{int restIndex = 1;}
        @foreach (var rest in @Model)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="panel panel-primary cardlike" style="min-height: 15ex;">
                    <div class="panel-body">
                        <h3><strong>@Html.DisplayFor(model => restIndex) . @Html.DisplayFor(model => rest.Name)</strong></h3>
                        <hr />
                        <h5>
                            <strong>@Html.DisplayName("Average Rating")</strong> : @Html.DisplayFor(model => rest.AvgRating)
                        </h5>
                    </div>
                </div>
            </div>
            restIndex++;
        }
    </div>

</div>

<script type="text/javaScript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(document).ready(function () {
        setTimeout($("#sliding-ad").animate({ left: '83.5%' }, 'slow'), 2000);
    });
    $("#sliding-ad").click(function () {
        $("#sliding-ad").fadeOut()
    });

</script>