@using YummyTummy.Util;

@{
    ViewBag.Title = "Home Page";
}
<div class="container body-content">
    <div class="image-container">
        <div id="home-images">
            <img class="home-img-size" src="~/fonts/rest_1.jpg" />
            <img class="home-img-size" src="~/fonts/rest_2.jpg" />
            <img class="home-img-size" src="~/fonts/rest_3.jpg" />
            <img class="home-img-size" src="~/fonts/rest_4.jpg" />
        </div>
        <div id="home-title-sect">
            Welcome to Restauranteview!
        </div>
    </div>


    <div class="restaurant-info">

        <hr />
        <i>Want to give feedback on that great local deli?</i>
        <br />
        <i>Curious about local restaurants and their quality?</i>
        <br />
        <i>Need a place nearby by your workplace?</i>
        <br />
        <strong style="font-size:medium">Click on the Restaurants Tab to start looking, or create an account above!</strong>
    </div>
    <hr />

    <h2 id="top-rest-text">Top 3 Restaurants </h2>
    <i>See what the community is into: </i>

    <div class="row">
        @{int restIndex = 1;}
        @foreach (var rest in AnalysisUtil.TopThreeRatedRestaurants)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="panel panel-primary cardlike" style="min-height: 50ex;">
                    <div class="panel-body">
                        <h3><strong>restIndex . rest.Name</strong></h3>
                        <hr />
                        <h5>
                            <strong>@Html.DisplayName("Average Rating")</strong> : rest.AvgRating
                        </h5>
                    </div>
                </div>
            </div>
            restIndex++;
        }
    </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>

    </div>
